name: Build and test Docker image

on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
    paths:
      - Dockerfile
      - .github/workflows/build-and-push.yml

env:
  # set in ref name step
  GITHUB_REF:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Multiplatform build and test
    strategy:
      fail-fast: false
      matrix:
        platform:
          - platform: linux/amd64
            pair: linux-amd64
          - platform: linux/arm64
            pair: linux-arm64
    steps:
      - name: Get safe ref name
        id: safeRefName
        run: |
          ref=${{github.ref}}
          echo "REF=${ref//\//-}" >> "$GITHUB_OUTPUT"

      - name: Check out the repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Build
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          push: false
          platforms: ${{ matrix.platform.platform }}
          cache-to: type=registry,ref=nvitaterna/buildcache:${{vars.REGISTRY_IMAGE}}-${{ matrix.platform.pair }}-${{steps.safeRefName.outputs.REF}},mode=max
          cache-from: |
            type=registry,ref=nvitaterna/buildcache:${{vars.REGISTRY_IMAGE}}-${{ matrix.platform.pair }}-${{steps.safeRefName.outputs.REF}}
            type=registry,ref=nvitaterna/buildcache:${{vars.REGISTRY_IMAGE}}-${{ matrix.platform.pair }}

      # todo
      # - name: Test
